.icon-background-blue {
	background: #337ab7;
}

.icon-background-black {
	background: #999999;
}

.icon-background-green {
	background: #5cb85c;
}

.icon-background-purple {
	background: #d565ee;
}

.icon-background-deeppurple {
	background: #8257ee;
}

.icon-background-orange {
	background: #f0ad4e;
}

.icon-background-deeporange {
	background: #f37a56;
}

.icon-background-red {
	background: #d9534f;
}

.icon-background-deepblue {
	background: #2566cb;
}

.icon-background-shallowblue {
	background: #31c9cb;
}

.icon-background-middleblue {
	background: #00b2f0;
}

.icon-background-lightblue {
	background: #5bc0de;
}